* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #011644;
  color: #FFFFFF;
  font-family: "Euclid Circular A", "Poppins";
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 60px 30px 50px 20px;
  background: #000000;
  border-radius: 24px;
}

.card img {
  max-width: 250px;
  width: 35vw;
  height: 250px;
  object-fit: cover;
  margin-left: -110px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  opacity: 0.6;
}

.card p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.4;
}

.card button {
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 24px;
  border-radius: 40px;
}

a {
  font-weight: normal;
  text-decoration: none; 
  color:#EF6D3D;
}

@media (width <= 600px) {
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -110px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    height: 250px;
  }

  .card p {
    max-width: 360px;
  }
}

@media (width <= 440px) {
  .card img {
    height: 45vw;
    width: 45vw;
    border-radius: 50%;
    margin: -140px 0 30px 0;
  }
}
